.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6347; /* Tomato Color */
  padding: 1rem;
}

.navbar__logo {
  font-size: 2rem;
  color: #fff;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar__links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

.navbar__links a:hover {
  color: #ffebcd; /* Light color on hover */
}
